<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjc.wdb.mapper.CopySoundsMapper">

	<select id="AllMimiCryMenu" resultType="MimiCryMenu">
		select * from mimicrymenu
		where mm_no != 1;
	</select>

	<insert id="insertCopyBoard">
		insert into board(b_title, b_content, b_voicefile,
		mm_no) values(#{b_title},
		#{b_content}, #{b_voicefile}, #{mm_no});
	</insert>

	<insert id="insertCopyBoardWriting">
		insert into writing values(#{m_id}, 2,
		last_insert_id());
	</insert>

	<select id="AllCopySounds" resultType="java.util.HashMap">
		select b.*, w.*, mm.mm_no,
		mm.mm_name from board b, writing
		w, mimicrymenu mm where b.b_no =
		w.b_no and b.mm_no = mm.mm_no and
		w.bm_no = 2 and b.mm_no is not null order
		by b_count desc;
	</select>
</mapper>